.btn {
  @include accent();
  text-decoration: none;
  min-width: 225px;
  min-height: 65px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  &:hover, &:focus {
    background: var(--color-white);
    color: var(--color-accent);
  }

  &:active {
    opacity: .7;
  }

  @media screen and (max-width: 750px) {
      min-height: 45px;
      min-width: 180px;
  }
}

